<% var data = {
  title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<header class="css-1">
		<input id="toggle" type="checkbox">
		<label class="hamburger" for="toggle">
				<div></div>
		</label>
		<nav class="menu">
			<a href="#">Link1</a>
			<a href="#">Link2</a>
			<a href="#">Link3</a>
			<a href="#">Link4</a>
			<a href="#">Link5</a>
		</nav>
</header>

<section class="css-2">
	<div class="wrapper">
		<div class="products">
			<div class="product">
				<div class="product-image">
					<img src="../../img/nature.jpg" alt="Nature">
				</div>
				<div class="product-text">
					<h3>Product title</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure reiciendis inventore sapiente asperiores laborum accusantium debitis dolores fugiat, quam architecto, deserunt porro officiis expedita rerum voluptates, ratione eos! Laudantium eligendi modi exercitationem est aut voluptas quos quaerat amet, molestiae hic excepturi consectetur voluptates, reiciendis quam sapiente quis voluptatum vitae asperiores?</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="js-1">
	<div class="wrapper">
		<form>
			<div class="inputs">
				<input type="text" name="firstname">
				<input type="text" name="lastname">
			</div>
			<textarea name="address"></textarea>
			<div><a href="#" class="button">Собери</a></div>
		</form>
	</div>
</section>

<section class="js-2">
	<div class="wrapper">
		<div class="inputs">
			<input type="text" class="input-1">
			<input type="text" class="input-2">
		</div>
	</div>
</section>

<%= _.template(require('./../includes/footer.html'))(data) %>