
@import './_libs';
@import './_smart-grid';
@import './_fonts';
@import './_vars';

@include reset();

body {
	position: relative;
	font-family: sans-serif;
	color: #000;
	font-size: 16px;
	min-width: 320px;
	overflow-x: hidden;
}

.wrapper {
	max-width: 990px;
	padding: 0 15px;
	margin: 0 auto;
}

//---------------CSS-1--------------
header {
	display: flex;
	align-items: center;
	height: 50px;
	background-color: orange;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
}

.menu {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	@include sm-block(){
		background-color: orange;
		position: fixed;
		opacity: 0;
		visibility: hidden;
		top: 50px;
		left: 0;
		transform-origin: 50% 0%;
		transform: scaleY(0);
		height: auto;
		max-width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		transition: all .3s ease-out;
	};

	a {
		margin: 10px;
		color: white;
		text-transform: uppercase;
	}
}

#toggle {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	@include sm-block() {
		display: block;
	}

	&:checked ~ .menu {
		opacity: 1;
		visibility: visible;
		transform: scaleY(1);
	}
}

.hamburger {
	height: 25px;
	width: 40px;
	margin-left: auto;
	margin-right: 15px;
	cursor: pointer;
	background-color: transparent;
	display: none;
	@include sm-block() {
		display: block;
	}

	& > div {
		margin-top: 10px;
		position: relative;
		width: 40px;
		height: 5px;
		background-color: #fff;

		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			display: block;
			width: 40px;
			height: 5px;
			background-color: white;
		}

		&:before {
			top: -10px;
		}
		&:after {
			top: 10px;
		}
	}
}

//-------------------CSS-2-------------
.css-2 {
	padding-top: 75px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -15px;

	.product {
		box-sizing: border-box;
		border: 1px solid pink;
		margin: 15px;
		width: calc(75% - 30px);
		display: flex;
		flex-wrap: wrap;
		@include md(width, calc(100% - 30px));

		&-image {
			width: 300px;
			@include sm-block(){
				width: 100%;
				height: 250px;
				padding: 15px;
			};

			img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
				@include sm-block(){
					max-width: 300px;
					margin: 0 auto;
					
				};
			}
		}

		&-text {
			padding: 15px;
			width: calc(100% - 360px);
			@include sm-block(){
				width: 100%;
			};

			h3 {
				font-weight: bold;
			}
		}
	}
}


//-------JS-1---------
form {
	display: block;
	max-width: 600px;
	margin: 0 auto;

	.inputs {
		width: 100%;
		display: flex;
	}

	input,textarea {
		box-sizing: border-box;
		border: 1px solid orange;
	}

	input {
		width: 50%;
		& + input {
			margin-left: 5px;
		}
	}

	textarea {
		width: 100%;
		margin-top: 5px;
		display: block;
		resize: none;
		height: 100px;
	}
}

.button {
	margin-top: 5px;
	display: inline-block;
	padding: 15px 25px;
	text-align: center;
	background-color: black;
	color: orange;
}


//---------JS - 2---------
.js-2 {
	padding: 25px 0;
}
.js-2 .inputs {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
}
.js-2 input {
	box-sizing: border-box;
	width: 50%;
	border: 1px solid orange;
	& + input {
		margin-left: 5px;
	}
}